{% load customTags %}
{% include 'filter_form.html' %}
<div class='cBlock no-pd-bot map-grid-header-info'>
	<h3>Found {{ amount }} maps{% if page > 1 %} ( page {{page}} ){% endif %}</h3>
</div>
{% if amount != 0 %}
<div id="map_grid">
	{% for item in maps %}
		<div class="map_grid_cell">
			<a href="/maps/{{item.id}}/">
				<div class="cell-link-container">
					<div><img src="/maps/{{item.id}}/minimap" alt="{{item.id}}" /></div><div class="link_title">{{ item.title|strip_tags }}</div>
				</div>
				{% if item.downloading == False or item.amount_reports >= 3 %}
				<div class="map-custom-status"><img src="/static/images/attention-mini.jpg" alt="attention" /></div>
				{% endif %}
				{% if item.advanced_map %}
				<div class="map-custom-status"><img src="/static/images/advanced-mini.jpg" alt="advanced" /></div>
				{% endif %}
				{% if item.lua %}
				<div class="map-custom-status"><img src="/static/images/lua-mini.jpg" alt="lua" /></div>
				{% endif %}
			</a>
			<div class="map_tooltip">
				<div class="map_tooltip_mod mod_{{ item.game_mod }}">{{ item.game_mod|upper }}</div>
				<table>
					{% if item.author %}
					<tr>
						<td class="tooltip_title">Author: </td>
						<td class="tooltip_value"><a href="/maps/author/{{item.author|proper_space}}/" title="Show maps authored by {{item.author|strip_tags}}">{{ item.author|strip_tags }}</a></td>
					</tr>
					{% endif %}
					<tr>
						<td class="tooltip_title">Uploader: </td>
						<td class="tooltip_value"><a href="/maps/uploader/{{item.user.username}}/" title="Show maps uploaded by {{item.user.username}}">{{ item.user.username }}</a></td>
					</tr>
				</table>
				<table>
					<tr>
						<td class="tooltip_title_misc">Revision: </td>
						<td class="tooltip_value_misc">{{ item.revision }}</td>
						<td class="tooltip_title_misc">Players: </td>
						<td class="tooltip_value_misc">{{ item.players }}</td>
					</tr>
					<tr>
						<td class="tooltip_title_misc">Comments: </td>
						<td class="tooltip_value_misc">{{ comments|amount_comments:item.id }}</td>
						<td class="tooltip_title_misc">Rating: </td>
						<td class="tooltip_value_misc">{{ item.rating }}</td>
					</tr>
				</table>
			</div>
		</div>
	{% endfor %}
	<div class="clear"></div>
</div>
{% include 'pagination.html' %}
{% endif %}

<div class='cBlock map-store-info'>
	<p>Custom maps are stored in the user directories with sub-directories per mod.</p>
	<ul>
		<li><u>Windows:</u> %AppData%\OpenRA\maps\&lt;mod name&gt;\</li>
		<li><u>Mac OSX:</u> ~/Library/Application Support/OpenRA/maps/&lt;mod name&gt;/</li>
		<li><u>Linux:</u> ~/.config/openra/maps/&lt;mod name&gt;/</li>
	</ul>

	<p>Older releases (before playtest-20190825) used different locations, which newer versions may continue to use in some circumstances:</p>
	<ul>
		<li><u>Windows:</u> %USERPROFILE%\Documents\OpenRA\maps\&lt;mod name&gt;\</li>
		<li><u>Linux:</u> ~/.openra/maps/&lt;mod name&gt;/</li>
	</ul>
</div>

<script>
	function confirmZipDownload(amount)
	{
		var agree = confirm("Are you sure you want to download Zip archive of "+amount+" maps?\n\nFile size might be huge.\n")
		if (agree) return true
		else return false
	}
</script>
